<style>
  .red {
    color:red;
  }
  .green {
    color:green;
  }
</style>

<div class="hbox hbox-auto-xs hbox-auto-sm">
  <!-- main -->
  <div class="col">
    <!-- main header -->
    <div class="bg-light lter b-b wrapper-md">
      <div class="row">
        <div class="col-sm-6 col-xs-12">
          <h1 class="m-n font-thin h3 text-black">facebookHandleLookup</h1>
          <small class="text-muted">Welcome to the home</small>
        </div>
        <div class="col-sm-6 text-right hidden-xs"></div>
      </div>
    </div>
    <!-- / main header -->
    <div class="wrapper-md">
      <ctp-panel>
        <ctp-panel-header>Welcome</ctp-panel-header>
        <ctp-panel-body>

          <div class="row">
              <div class="col-md-8">
                <div class="form-inline">
                  <label for="search">Input Handle </label>
                  <input style="margin-left:2px" class="form-control" type="text" id="search" ng-model="homeCtrl.searchTxt"/>
                    <button class="btn" ng-click="homeCtrl.search()">Search</button>
                </div>
              </div>
          </div>

          <br />

          <ctp-lookup-requester query-params="{'handle':homeCtrl.searchItem}" scopeprefix="mine">
            <div ng-if="mine.length>0">
              <div class="row">
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      Search @Handle
                    </div>
                    <div class="col-md-12">
                      {{mine[0].instance_handle}}
                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="row">
                    <div class="col-md-12">
                      TechSoup ID:
                    </div>
                    <div class="col-md-12">
                      {{mine[0].org_id}}
                    </div>
                  </div>
                </div>
                  <div class="col-md-3">
                    <div class="row">
                      <div class="col-md-12">
                        Organization Name:
                      </div>
                      <div class="col-md-12">
                        {{mine[0].name.type_value}}
                      </div>
                    </div>
                  </div>
                    <div class="col-md-3">
                      <div class="row">
                        <div class="col-md-12">
                          Status
                        </div>
                        <div class="col-md-12">
                          <div ng-class="{red:mine[0].status.type_value<0,green:mine[0].status.type_value>0}">
                            {{mine[0].status.type_value}}
                          </div>
                        </div>
                      </div>

                    </div>
                </div>

                <div class="row">
                  <div class="col-md-12">
                    <h3>Addresses:</h3>
                  </div>
                    <div ng-repeat="location in mine[0].locations" class="row m-b-md">
                      <div class="col-md-12">
                        <div class="row">
                          <div class="col-md-3">
                          </div>
                          <div class="col-md-3">
                            Address Type
                          </div>
                          <div class="col-md-3">
                            {{location.type}}
                          </div>
                          <div class="col-md-3">

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">

                          </div>
                          <div class="col-md-3">
                            Address
                          </div>
                          <div class="col-md-3">
                            {{location.address}}
                          </div>
                          <div class="col-md-3">

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">

                          </div>
                          <div class="col-md-3">
                            Addresss Ext
                          </div>
                          <div class="col-md-3">
                            {{location.address_ext}}
                          </div>
                          <div class="col-md-3">

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">

                          </div>
                          <div class="col-md-3">
                            City
                          </div>
                          <div class="col-md-3">
                            {{location.city}}
                          </div>
                          <div class="col-md-3">

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">

                          </div>
                          <div class="col-md-3">
                            State / Region
                          </div>
                          <div class="col-md-3">
                            {{location.state_region}}
                          </div>
                          <div class="col-md-3">

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">

                          </div>
                          <div class="col-md-3">
                            Postal Code
                          </div>
                          <div class="col-md-3">
                            {{location.postal_code}}
                          </div>
                          <div class="col-md-3">

                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-3">

                          </div>
                          <div class="col-md-3">
                            Country
                          </div>
                          <div class="col-md-3">
                            {{location.country_id}}
                          </div>
                          <div class="col-md-3">

                          </div>
                        </div>
                      </div>
                    </div>

                </div>
                <div class="row">
                  <div class="col-md-12">
                    <h3>Agents:</h3>
                  </div>
                  <div class="col-md-12">
                    <div class="table-responsive">
                      <table class="table">
                        <tr>
                          <th>
                            Agent Pin
                          </th>
                          <th>
                            Agent Token
                          </th>
                          <th>
                            Pin Expiration Date
                          </th>
                        </tr>
                        <tr ng-repeat="agent in mine[0].agents">
                          <td>
                            {{agent.pin}}
                          </td>
                          <td>
                            {{agent.pin}}{{mine[0].instance_handle}}
                          </td>
                          <td>
                            <div ng-class="{red: agent.expiration_date<homeCtrl.today, green: agent.expiration_date>homeCtrl.today}">
                              {{agent.expiration_date | date : 'MM/dd/yyyy'}}
                            </div>
                          </td>
                        </tr>
                      </table>
                    </div>
                  </div>
                </div>
            </div>
          </ctp-lookup-requester>
        </ctp-panel-body>
      </ctp-panel>
    </div>
  </div>
  <!-- / main -->
</div>
