<div>
    <!-- navbar -->
    <div data-ng-include=" 'components/layout/header.html' " >
    </div>
    <!-- / navbar -->

    <!-- content -->
  <div class="container">
    <div ui-view></div>



  </div> <!-- /container -->

  <hr>

  <footer class="footer wrapper b-t bg-white-only">
    <span class="pull-right">0.0.1 <a href ui-scroll-to="app" class="m-l-sm text-muted"><i class="fa fa-long-arrow-up"></i></a></span>
        &copy; 2016 Copyright.
  </footer>

</div>
