<!DOCTYPE html>
<!--[if lt IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]> <html lang="en" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]> <html lang="en" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" class="no-js">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>My CTP App |
      facebookHandleLookup</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <link rel="icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="vendor/animate.css/animate.min.css" type="text/css"/>
    <link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css" type="text/css"/>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" type="text/css"/>
    <link rel="stylesheet" href="vendor/font-source-sans-pro/source-sans-pro.css"/>
    <link rel="stylesheet" href="css/app.css"/>
    <link rel="stylesheet" href="css/imageCrop.css"/>
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css" type="text/css"/>
    <link rel="stylesheet" href="vendor/cooperative/osHeader/osHeader-0.0.10.css"/>
  </head>
  <body>
    <span ui-view=""></span>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="vendor/angular/angular.min.js"></script>
    <script src="vendor/angular/angular-animate/angular-animate.min.js"></script>
    <script src="vendor/angular/angular-ui-router/angular-ui-router.min.js"></script>
    <script src="vendor/angular/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="vendor/angular/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="vendor/modules/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="vendor/modules/ng-file-upload/ng-file-upload-shim.min.js"></script>
    <script src="vendor/angular/angular-translate/angular-translate.min.js"></script>
    <script src="vendor/angular/angular-translate/angular-translate-loader-static-files.min.js"></script>
    <script src="vendor/angular/angular-translate/angular-translate-loader-url.min.js"></script>
    <script src="vendor/angular/angular-translate/angular-translate-storage-cookie.min.js"></script>
    <script src="vendor/angular/angular-translate/angular-translate-storage-local.min.js"></script>
    <script src="vendor/angular/angular-cookies/angular-cookies.min.js"></script>
    <script src="vendor/angular/oclazyload/ocLazyLoad.js"></script>
    <script src="vendor/underscore/underscore-min.js"></script>
    <script src="vendor/libs/xdomaincookie.min.js"></script>
    <script src="vendor/libs/xwindowcomms.min.js"></script>
    <script src="vendor/libs/aes.js"></script>
    <script src="vendor/cooperative/cooperative-tpls-0.1.46.js"></script>
    <script src="vendor/cooperative/osHeader/osHeader-0.0.10.min.js"></script>
    <script src="vendor/cooperative/osHeader/osHeader-0.0.10-tpl.js"></script>
    <script src="js/app.js"></script>
    <script src="js/app-tpl.js"></script>
    <script>
      xDomainCookie.consumer.init('{%- ssoHostURL %}', function() {
        angular.element(document).ready(function() {
        if (typeof WebSocket != 'function' && typeof WebSocket != 'object') {
          $('body').html("<h1>Error</h1><p>You browser is not supported.  Please update your browser to the latest version.</p>");
          return;
        }
        
        angular.bootstrap(document, ['facebookHandleLookup']);
        
      });
      }, false);
    </script>
  </body>
</html>
